app/flows/notificationFlow.json
[{"id":"aef0c0c1.b51df","type":"tab","label":"Flow 1"},{"id":"fd81bbb3.7f47e8","type":"http in","z":"aef0c0c1.b51df","name":"RTI","url":"/rti-alert","method":"post","swaggerDoc":"","x":129,"y":49,"wires":[["c6b80d32.d623"]]},{"id":"457a6a28.eb884c","type":"http response","z":"aef0c0c1.b51df","name":"RTI response node","x":592,"y":48,"wires":[]},{"id":"1af195dc.e9a182","type":"debug","z":"aef0c0c1.b51df","name":"","active":true,"console":"false","complete":"true","x":552,"y":101,"wires":[]},{"id":"c6b80d32.d623","type":"function","z":"aef0c0c1.b51df","name":"RTI Trigger Message","func":"// if iotp dont exist in the flow, create it\nvar iotpContext = flow.get('iotp')||{};\n// store the value back\nflow.set('iotp',msg.payload)\n\nmsg.payload = msg.payload.message\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":49,"wires":[["457a6a28.eb884c","afd7a8c4.c97f38"]]},{"id":"afd7a8c4.c97f38","type":"json","z":"aef0c0c1.b51df","name":"","x":176,"y":102,"wires":[["1af195dc.e9a182","81fba2d8.400ef8"]]},{"id":"d1db1abb.3f16d8","type":"http request","z":"aef0c0c1.b51df","name":"RegistrationCall","method":"use","ret":"txt","url":"","tls":"","x":287,"y":227,"wires":[["bea24d57.b6ace","6950bdb2.3307fc"]]},{"id":"81fba2d8.400ef8","type":"function","z":"aef0c0c1.b51df","name":"Registration Call Appliance","func":"// get the env services\nvar process = JSON.parse(context.global.process.env.VCAP_SERVICES); \n\n// get the electronics\nvar iotECredentials = process[\"ibm-iot-for-electronics\"][0][\"credentials\"];\n\n// basic auth\nvar encodedAuthorization = new Buffer(iotECredentials.apiKey+':'+iotECredentials.authToken).toString('base64');\n\nvar msgRequest= {\n    \"method\":\"GET\",\n    \"url\":\"https://iotforelectronicstilex.mybluemix.net/v001/appliance/\" + msg.payload.d.name,\n    \"headers\": {\n        'Authorization': 'Basic ' + encodedAuthorization,\n\t}\n}\nreturn msgRequest;","outputs":"1","noerr":0,"x":312,"y":161,"wires":[["5494e7dc.7d4d","d1db1abb.3f16d8"]]},{"id":"5494e7dc.7d4d","type":"debug","z":"aef0c0c1.b51df","name":"","active":true,"console":"false","complete":"true","x":543,"y":160,"wires":[]},{"id":"bea24d57.b6ace","type":"debug","z":"aef0c0c1.b51df","name":"","active":true,"console":"false","complete":"true","x":536,"y":226,"wires":[]},{"id":"7bc1a3dd.aa52dc","type":"function","z":"aef0c0c1.b51df","name":"Registration Call User","func":"// if appliances dont exist in the flow, create it\nvar applianceContext = flow.get('appliance')||{};\n// store the value back\nflow.set('appliance',msg.payload)\n\n// get the env services\nvar process = JSON.parse(context.global.process.env.VCAP_SERVICES); \n// get the electronics\nvar iotECredentials = process[\"ibm-iot-for-electronics\"][0][\"credentials\"];\n\n// basic auth\nvar encodedAuthorization = new Buffer(iotECredentials.apiKey+':'+iotECredentials.authToken).toString('base64');\n\nvar msgRequestUser= {\n    \"method\":\"GET\",\n    \"url\":\"https://iotforelectronicstilex.mybluemix.net/v001/user/\" + msg.payload.docs[0].userID,\n    \"headers\": {\n        'Authorization': 'Basic ' + encodedAuthorization,\n\t}\n}\n\nreturn msgRequestUser;","outputs":1,"noerr":0,"x":278,"y":342,"wires":[["be313b34.c329d"]]},{"id":"6950bdb2.3307fc","type":"json","z":"aef0c0c1.b51df","name":"","x":263,"y":282,"wires":[["7bc1a3dd.aa52dc","2d7cca.976e0336"]]},{"id":"2d7cca.976e0336","type":"debug","z":"aef0c0c1.b51df","name":"","active":true,"console":"false","complete":"true","x":535,"y":283,"wires":[]},{"id":"be313b34.c329d","type":"http request","z":"aef0c0c1.b51df","name":"RegiatrationCall","method":"use","ret":"txt","url":"","tls":"","x":273,"y":412,"wires":[["5c9253f5.32db04","de941b7f.b6b908"]]},{"id":"5c9253f5.32db04","type":"debug","z":"aef0c0c1.b51df","name":"","active":true,"console":"false","complete":"true","x":522,"y":412,"wires":[]},{"id":"4530c274.dbb514","type":"function","z":"aef0c0c1.b51df","name":"Group information to send email","func":"// if user dont existi in the flow, create it\nvar userContext = flow.get('user')||{};\n// store the value back\nflow.set('user',msg.payload)\n\n\n//get the iotp and appliance flow values\nvar iotpContext = flow.get('iotp')||{};\nvar applianceContext = flow.get('appliance')||{};\n\nvar messageIoTP = JSON.parse(iotpContext.message)\nvar timestampRead = (new Date(parseInt(iotpContext.timestamp))).toUTCString();\n\nmsg = {\n    \"iotp\": iotpContext,\n    \"appliance\":applianceContext,\n    \"user\":userContext,\n    \"payload\":{\n        \"deviceId\":messageIoTP.d.name,\n        \"timestamp\": timestampRead,\n        \"recommendedAction\":\"Failure\",\n        \"eventType\":messageIoTP.d.failureType,\n        \"deviceType\":applianceContext.docs[0].applianceType,\n        \"consumerEmail\": userContext[0].userDetail.hasOwnProperty('email')? userContext[0].userDetail.email : \"\"\n    }\n}\nvar msgRequestUser= {\n    \"method\":\"POST\",\n    \"url\":\"https://iot4esimulationenginex.mybluemix.net/sendEmail\",\n    \"payload\":msg.payload\n    \n}\n\n return msgRequestUser;","outputs":1,"noerr":0,"x":324,"y":529,"wires":[["c4921965.89d9e8","69ce2800.038d3"]]},{"id":"de941b7f.b6b908","type":"json","z":"aef0c0c1.b51df","name":"","x":256,"y":467,"wires":[["62cff5eb.9ff114","4530c274.dbb514"]]},{"id":"62cff5eb.9ff114","type":"debug","z":"aef0c0c1.b51df","name":"","active":true,"console":"false","complete":"true","x":523,"y":466,"wires":[]},{"id":"c4921965.89d9e8","type":"debug","z":"aef0c0c1.b51df","name":"","active":true,"console":"false","complete":"true","x":637,"y":528,"wires":[]},{"id":"69ce2800.038d3","type":"http request","z":"aef0c0c1.b51df","name":"EmailRequest","method":"use","ret":"txt","url":"","tls":"","x":360,"y":600,"wires":[["60dce86e.946998"]]},{"id":"60dce86e.946998","type":"debug","z":"aef0c0c1.b51df","name":"","active":true,"console":"false","complete":"true","x":555,"y":600,"wires":[]}]